// VARIABLES
// -----------------------------------------------------------------------------
@appHeaderWidth: 60px;
@appInstructionPadding: 8px;
@appInstructionFontSize: 1.1em;
@faqAppInstructionFontSize: @appInstructionFontSize - 0.2em;

// STYLES
// -----------------------------------------------------------------------------
.choose-app-header {display:none; height:@appHeaderWidth; text-align:center;}

#app-instructions {display:none; position:relative; max-width:500px; margin:0 auto 80px;
  &.faq {display:block; margin-bottom:0;}
}

.accordion-toggle {display:block; padding:10px 64px; background-position:22px center; background-repeat:no-repeat;
  &.google    {background-image:url("../images/icons/google.png")}
  &.outlook   {background-image:url("../images/icons/outlook.png");}
  &.lightning {background-image:url("../images/icons/lightning.png");}
  &.ical      {background-image:url("../images/icons/ical.png");}
  &.ios       {background-image:url("../images/icons/ios.png");}
  &.android   {background-image:url("../images/icons/android.png")}
  &.winphone  {background-image:url("../images/icons/windows.png")}
}
