{% extends "layouts/application.html" %}
{% load static %}
{% block content %}
    {% include "javascript.html" %}
    {% include "calendar/flash_messages.html" %}
    <div class="content-wrapper">
        <h1 class="instruction">
            Wähle Module aus, die in<br/>
            deinem Stundenplan angezeigt werden sollen
        </h1>
        <form accept-charset="UTF-8" action="{% url 'calendar_link' %}" class="choose-modules width-wrapper-lg"
              id="choose-modules" method="post" data-form-type="register,step">{% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="group-wrapper">
                    <h2>{{ form.group_title }}</h2>
                    <div class="group-modules-wrapper">
                        {% if form.modules %}
                            {{ form.modules.management_form }}
                            {% for module_form in form.modules %}
                                <div class="input-group">
                                    {{ module_form.module_aliases }}
                                    {{ module_form.module_id }}
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <span class="dropdown-icon bi bi-gear{% if module_form.module_workgroups %} text-success{% endif %}"></span>
                                    </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            {% if module_form.module_workgroups %}
                                                <li><label class="dropdown-item disabled">Gruppenauswahl</label></li>
                                                {% for workgroup in module_form.module_workgroups %}
                                                    <li><label class="dropdown-item allow-focus{% if all_workgroup_str.1 == workgroup.choice_label %} default-item{% endif %}">
                                                        {{ workgroup }}
                                                    </label></li>
                                                {% endfor %}
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            <li><a class="dropdown-item del_el" href="#"><span class="bi bi-trash"></span>Löschen</a></li>
                                        </ul>

                                </div>
                            {% endfor %}
                            {% for input in form.hidden_fields %}
                                {{input}}
                            {% endfor %}
                        {% endif %}
                        {% if forloop.counter0 == 0 %}
                            <div class="studium-generale-ellipses">
                                <a href="#" id="studium_generale_link" class="studium-generale-link">Studium Generale hinzufügen?</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="add-selection">
                        Add to selection:
                    </div>
                    <button class="reset-selection" type="button">Reset</button>
                    <hr/>
                </div>
            {% endfor %}
            <p class="text-center choose-more-groups-wrapper">
                Du hast Module aus einem anderen Studiengang belegt?<br/>
                <a href="{{ choose_groups_link }}" id="choose-more-groups-cta" class="btn btn-link">
                    Module aus anderem Studiengang hinzufügen
                </a>
            </p>

            <input class="btn btn-success btn-lg btn-create-calendar text-wrap" name="commit" type="submit"
                   value="Kalender erstellen" data-form-type="action,next">
        </form>
    </div>
{% endblock %}