<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Unter <em>&#8220;Ablage&#8221;</em> findest du den Punkt <em>&#8220;Neues Kalenderabonnement&#8221;</em> (oder unter Snow Leopard <em>&#8220;Abonnieren&#8221;</em>).</li>
  <li>Im daraufhin erscheinenden Fenster musst du den kopierten Link einfügen und <em>&#8220;abonnieren&#8221;</em> klicken.</li>
  <li>Anschließend kannst du dem Kalender noch einen Namen geben und bestimmen, wie oft er aktualisiert werden soll. Falls du iCloud auf deinem iPhone o.ä. verwendest, empfehle ich dir bei <em>&#8220;Ort&#8221;</em> unbedingt <em>&#8220;iCloud&#8221;</em> zu wählen. So hast du deinen Stundenplan ohne weiteres zutun auch unterwegs immer parat.</li>

</ol>