<p>Der einfachste Weg unter iOS ist der iCloud-Sync (siehe Anleitung für OS X Kalender). Hier ist der andere Weg:</p>

<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Gehe in die <em>&#8220;Systemeinstellungen&#8221;</em>.</li>
  <li>Dort wählst du <em>&#8220;Mail, Kontakte, Kalender&#8221;</em>.</li>
  <li><em>&#8220;Account hinzufügen&#8221;</em> auswählen.</li>
  <li>Ganz unten tippst du auf <em>&#8220;Andere&#8221;</em>.</li>
  <li>Der letzte Punkt ist <em>&#8220;Kalenderabo hinzufügen&#8221;</em>. Dort drauftippen.</li>
  <li>Im daraufhin erscheinenden Textfeld fügst du den Kalenderlink ein und drückst oben auf <em>&#8220;weiter&#8221;</em>.</li>
  <li>Du kannst noch eine <em>&#8220;Beschreibung&#8221;</em> vergeben. Den Rest solltest du lassen, wie er ist.</li>
  <li>Nach kurzer Zeit taucht der abonnierte Kalender in der Kalender-App auf.</li>
</ol>