<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Im Menü <em>&#8220;Termine und Aufgaben&#8221;</em> den Punkt <em>&#8220;Kalender&#8221;</em> wählen.</li>
  <li>Links siehst du die Kalenderübersicht. In diesem Bereich über die rechte Maustaste klicken und im darauf erscheinenden Kontextmenü <em>&#8220;Neuer Kalender&#8221;</em> anklicken.</li>
  <li>Du hast die Wahl zwischen <em>&#8220;Auf meinem Computer&#8221;</em> und <em>&#8220;Im Netzwerk&#8221;</em>. Bitte letzteres wählen und <em>&#8220;Fortsetzen&#8221;</em> klicken.</li>
  <li>Im folgenden Fenster lässt du das <em>&#8220;Format&#8221;</em> wie es ist (<em>&#8220;iCalender&#8221;</em>).</li>
  <li>Unter <em>"Adresse"</em> den kopierten Kalenderlink einfügen.</li>
  <li>Anschließend kannst du noch einen Namen vergeben und weitere Einstellungen nach Belieben vornehmen.</li>
</ol>