<p>Unter Outlook 2010:</p>

<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Klicke auf den Reiter <em>&#8220;Start&#8221;</em>.</li>
  <li>Dort befindest sich in der Sektion <em>&#8220;Kalender verwalten&#8221;</em> der Button <em>&#8220;Kalender öffnen&#8221;</em>, auf den du kicken musst.</li>
  <li>Es öffnet sich ein Kontextmenü, in dem du den Punkt <em>&#8220;Aus dem Internet&#8221;</em> anklickst.</li>
  <li>Im daraufhin erscheinenden Fenster kannst du den Link einfügen und mit <em>&#8220;OK&#8221;</em> bestätigen. Eventuell musst du das Abonnement in einem weiteren Schritt noch bestätigen. Dann bist du fertig.</li>
</ol>

<p>Unter Outlook 2007:</p>

<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Unter <em>&#8220;Extras&#8221;</em> findest du die <em>&#8220;Kontoeinstellungen&#8221;</em>.</li>
  <li>Dort auf den Reiter <em>&#8220;Internetkalender&#8221;</em> klicken.</li>
  <li>Auf <em>&#8220;Neu&#8221;</em> klicken.</li>
  <li>Im sich öffnenden Fenster musst du den Link einfügen. Allerdings musst du <em>&#8220;http://&#8221;</em> durch <em>&#8220;webcal://&#8221;</em> austauschen.</li>
  <li>Spätestens beim nächsten Start sollte der Kalender aktualisiert werden und dir fortan zur Verfügung stehen.</li>
</ol>