<p>Am einfachsten ist unter Windows Phone die Synchronisierung über Outlook.com:</p>

<ol>
  <li>Erstelle deinen Kalender und kopiere den Link.</li>
  <li>Bei Outlook.com anmelden und in den Kalender wechseln.</li>
  <li>Auf <em>&#8220;Subscribe&#8221;</em> klicken.</li>
  <li><em>&#8220;Subscribe to a public calendar&#8221;</em> auswählen.</li>
  <li>Bei <em>&#8220;Calendar URL&#8221;</em> den Kalenderlink einfügen.</li>
  <li>Sonstige Einstellungen nach Belieben vornehmen.</li>
  <li>Auf <em>&#8220;Subscribe to calendar&#8221;</em> klicken.</li>
  <li>Das Windows-Phone-Gerät muss mit dem gleichen Outlook.com-Benutzerkonto angemeldet sein. Fortan sollte die Synchronisierung des Kalenders automatisch erfolgen.</li>
</ol>