{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "layouts/crawler-head.html" %}
    <title>{% block title %}HTWK2iCal{% endblock %}</title>
    {% stylesheet 'application' %}
</head>
<body class="landing-page">
<div class="maintenance-wrapper">
    {% block content %}
    {% endblock %}

    <p class="footer muted">
        HTWK2iCal wird unterstützt durch die <a href="https://www.htwk-leipzig.de/">Hochschule für Technik, Wirtschaft und Kultur Leipzig</a>.
    </p>
</div>
{% javascript 'application' %}
</body>
</html>
